main{
  min-height: 80vh;

}
::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(235, 94, 94); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e0a6a6; 
}

h3{
  padding: 1rem 0;
}

.rating span{
  margin: 0.1rem;
}