main{
  min-height: 80vh;

}
::-webkit-scrollbar{
  width: 15px;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar-track{
  visibility: hidden;
}
::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #797979; 
}

h3{
  padding: 1rem 0;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating span{
  margin: 0.1rem;
}